<launch>
  <node name="person_navigation" pkg="person_navigation" type="person_nav.py" output="screen" args="--target_polar_topic /person_navigation/depth_angle"/>
  <node name="target_depth" pkg="person_navigation" type="target_depth" output="screen"/> 
 
  <rosparam file="$(find person_navigation)/configs/navigation_params.yaml" />
</launch>